{% extends "djcedu/home.html" %}
{% load livewhale_api %}
{% block title %}Carthage College :: Continuing Education :: Information Sessions{% endblock %}
{% block extra_style %}
    <link href="//www.carthage.edu/assets/current/css/plugins/forms.css" rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/assets/current/css/overrides/forms.css" rel="stylesheet" type="text/css" />
    <link href="//www.carthage.edu/assets/current/css/overrides/forms.bridge.css" rel="stylesheet" type="text/css" />
    <style type="text/css" media="screen, projection">
    #second {width:600px;}
    #fourth {float:left;overflow:hidden;padding-left:150px;padding-top:20px;}
    body { background-color: #EBE7DB; }
    fieldset { background-color: transparent; }
    </style>
{% endblock %}
{% block content %}
    <div id="first"></div>
    <div id="second">
    <form method="POST" action="." class="form">{% csrf_token %}
        <h1>Information Session Signup</h1>
        <fieldset class="blockLabels">
            <ol>
                {% for field in form %}
                    <li class="ctrlHolder">
                    <h3{% if field.field.required %} class="required"{% endif %}>{{ field.label_tag }}</h3>
                    {% if field.errors %}
                        <div class="warning">
                        <span class="error-message">{{ field.errors|join:", "}}</span>
                    {% else %}
                        <div>
                    {% endif %}
                    {% if field.help_text %}
                        <p class="help">{{field.help_text}}</p>
                    {% endif %}
                    {{field}}
                    </div>
                </li>
                {% endfor %}
                <li class="btnHolder">
                    <label for="id_submit">&nbsp;&nbsp;</label>
                    <input type="submit" value="Submit Request" class="button" />
                </li>
            </ol>
        </fieldset>
    </form>
    <br />
    </div>
    <div id="fourth">
        {% get_lw_content as contact blurbs 1349 %}
        {{contact.body}}
    </div>
{% endblock %}
