{% extends "djcedu/home.html" %}
{% load livewhale_api %}
{% block title %}Carthage College :: Adult Education :: Information Request{% endblock %}
{% block extra_javascript %}
    <script type="text/javascript">
    $(function() {
        $('.required>em').html('<img src="/static/forms/img/icons/red_asterisk.png" />');
    });
    </script>
{% endblock %}
{% block css %}
    <link href="http://www.carthage.edu/assets/current/css/plugins/forms.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/current/css/overrides/forms.css" rel="stylesheet" type="text/css" />
    <link href="http://www.carthage.edu/assets/current/css/overrides/forms.bridge.css" rel="stylesheet" type="text/css" />
    <style type="text/css" media="screen, projection">
    /* <![CDATA[ */
        @import url("{{media_url}}{{skeleton_version}}/css/overrides/adulted.css");
        body {font-size:13px;}
    /* ]]> */
    #second {width:600px;}
    #fourth {float:left;overflow:hidden;padding-left:150px;padding-top:20px;}
    </style>
{% endblock %}
{% block content %}
    <div id="first"></div>
    <div id="second">
    <h1>Information Request</h1>
    {% include "includes/generic_form.html" %}
    </div>
    <div id="fourth">
        {% get_lw_content as global_nav_header blurbs 1349 %}
    </div>
{% endblock %}
