<h1>Event Submission</h1>
<pre style="font-size:1.5em;">
First name.................. {{data.user.first_name}}
Last name................... {{data.user.last_name}}
Email....................... {{data.user.email}}
Title....................... {{data.title}}
</pre>
<h4>Summary</h4>
<div style="width:600px;font-size:1.2em;">{{data.summary|safe}}</div>
<h4>Description</h4>
<div style="width:600px;font-size:1.2em;">{{data.description|safe}}</div>
<p><a href="{{data.get_absolute_url}}">Manage this event</a></p>
