{% extends "base.html" %}
{% block title %}Submit {{content_type|capfirst}} to the Carthage Bridge{% endblock %}
{% block extra_style %}
<style type="text/css">
#twitter-widget-0 { background-color: #B8A57F; margin-left: 15px; padding: 5px; width: 225px; }
widget {display:none;}
.fright a img {display:none;}
#third iframe {margin-bottom:30px;}
</style>
{% endblock %}
{% block left_nav %}
    {% include "bridge/left_nav.html" %}
{% endblock %}
{% block content %}
<div id="second">
    <div class="buffer">
    <h1>Thank you for your submission to The Bridge</h1>
    <p><a href="{% url 'submission_form' content_type %}">Submit another</a>?</p>
    <p>
        If you are a member of the Carthage faculty or staff,
        your submitted news article will appear on
        <a href="http://www.carthage.edu/bridge/">The Bridge</a>
        in an hour.
    </p>
    <p>
        If you are a Carthage student, your submitted news
        article will appear on
        <a href="http://www.carthage.edu/bridge/">The Bridge</a>
        after it is approved by the Dean of Students Office and
        the Communications Office.
    </p>
    <p>
        If you have questions about The Bridge, please contact
        Elizabeth Young in the Communications Office:
        <a href="mailto:eyoung@carthage.edu">eyoung@carthage.edu,</a>
        262-551-2145.
    </div>
</div>
{% endblock %}
{% block sidebar %}
<div id="third">
    <div id="sidebar-content" class="buffer">
        <h1 class="header-red">Connect with us</h1>
    </div>
    {% include "douglasfir/bridge/social-media.php" %}
    {% include "douglasfir/bridge/weather.php" %}
</div>
{% endblock %}
