<h1>News Submission</h1>
<h3>{{data.headline|safe}}</h3>
<p>
    By:
    <a href="mailto:{{data.user.email}}">
        {{data.user.first_name}} {{data.user.last_name}}
    </a>
</p>
<h4>Summary</h4>
<div style="width:600px;font-size:1.5em;">{{data.summary|safe}}</div>
<h4>Content</h4>
<div style="width:600px;font-size:1.5em;">{{data.body|safe}}</div>
<hr>
<p>
    Thank you for your submission.<br>
    <a href="{{data.get_absolute_url}}">View your submission on The Bridge</a>.
    Student submissions will be accessible once they are approved,
    usually the next business day.
</p>
<p style="width:600px;font-size:.9em;">
    NOTE: The Office of Communications may edit the content for
    spelling, grammar, and adherence to the Carthage style guide.
</p>
