{% extends "base.html" %}
{% block title %}Submit a News Item to the Carthage Bridge{% endblock %}
{% block extra_javascript %}
<script src="//www.carthage.edu/static/forms/js/jHtmlArea-0.7.5.min.js"
    type="text/javascript"></script>
<script type="text/javascript" charset="utf-8">
$(function() {
    $("textarea").htmlarea({
        toolbar: [
            "html","bold", "italic", "underline", "superscript",
            "subscript", "|", "h1", "h2", "h3", "h4", "h5", "h6",
            "|", "indent", "outdent", "horizontalrule", "link",
            "unlink", "|", "orderedList", "unorderedList"
        ]
    });
    $('.jHtmlArea:eq(0) iframe').css('height','100px');
    $('.jHtmlArea:eq(1) iframe').css('height','300px');
});
</script>
{% endblock %}
{% block extra_style %}
<link href="//www.carthage.edu/static/forms/css/jHtmlArea.css"
    rel="Stylesheet" type="text/css" />
<style type="text/css">
.tab_content_container {
    width: 705px;
}
div.jHtmlArea .ToolBar ul { background: none; border: 0; }
div.jHtmlArea .ToolBar ul li a.custom_disk_button {
background: url(//www.carthage.edu/static/forms/css/disk.png) no-repeat; background-position: 0 0;
}
div.jHtmlArea { width:500px !important;border: solid 1px #ccc; background: #efefef; }
iframe {width:500px !important;background: #fff;border: solid 1px #ccc;}
</style>
{% endblock %}
{% block left_nav %}
    {% include "bridge/left_nav.html" %}
{% endblock %}
{% block sidebar %}{% endblock %}
{% block content_head %}
<div id="spotlight-intro" class="site-width cf">
    <div class="large-8 medium-8">
        <h1 id="page_title">
        Campus News and Events
        <span id="secondary-dropdown"></span>
        </h1>
    </div>
</div>
{% endblock %}
{% block content %}
    <div class="forms-container">
        <h2>Submit a News Item</h2>
        <p>
            Complete the form below to submit your own news to
            <a href="/bridge/">The Bridge</a>, Carthage's website
            for campus news and announcements.
        </p>
        <p>
        <strong>Please note: Your article may appear without editing</strong>,
        along with your name, on the Carthage website, so please submit
        your news story in publishable form. Your article may be edited in
        the future for publication elsewhere on the Carthage website.
        </p>
        {% include "includes/generic_form.html" %}
    </div>
</div>
{% endblock %}
